// @import our _custom-variables.scss partial file
// @import 'custom-variables';
// import _bootstrap.scss partial file from the node_modules
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/aos/src/sass/aos.scss';
$color1:#cccdce;
$color2:#96989b;
$color3:#363535;

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-image: linear-gradient(white, lightgrey);
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    a {
        background-color: $color3;
        color: $color1;

    }

}

.container-fluid {
    display: flex;
    flex-direction: column;
    width: 100;

    .col1 {
        display: flex;
        flex-direction: column;
        width: 100%;

        .mac {
            width: 50%;
        }
    }

    .b {
        flex-direction: column;

        .squares-b {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;


            .square-b {
                align-items: center;
                width: calc(100%/2);

                img {
                    height: 100px;
                    width: 100px;
                }
            }
        }
    }

    .d {
        flex-direction: column;

        .service {
            width: 100%;
        }

        .squares-d {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            margin: 0 auto;

            .square-d {
                width: 100%;
                height: auto;

                img {
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }

    .col2 {
        display: flex;
        flex-direction: column;

        .squares {
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;

            .square {
                width: 100%;
                height: auto;
            }

            img {
                width: 200px;
                height: 200px;
            }

            h3 {
                text-align: center;
            }
        }

    }
}

.col3 {
    margin: 0 auto;

    .square-c {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 300px;
        }
    }

}

.footer {
    background-color: #363535;
    color: #cccdce;
    width: 100%;
}


@media screen and (min-width: 800px) {
    .nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
        background-color: $color3;

        a {
            background-color: $color3;
            color: $color1;

        }

    }

    .container-fluid {
        flex-direction: row;
        width: 100%;

        .col1 {
            .mac {
                width: 110%;
                overflow: hidden;
            }
        }

        .col1,
        .col2 {
            width: calc(100%/2);
            height: auto;
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .b {
            flex-direction: column;

            .squares-b {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;


                .square-b {
                    width: calc(100%/2);

                    img {
                        height: 100px;
                        width: 100px;
                    }
                }
            }
        }

        .d {
            flex-direction: column;

            .squares-d {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;


                .square-d {
                    width: calc(100%/2);

                    img {
                        height: 100px;
                        width: 100px;
                    }
                }
            }
        }

        .col2 {
            .squares {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 500px;

                .square {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: auto;
                    height: auto;
                }

            }
        }



        // end of fluid
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-content: flex-end;

        .container-fluid {
            display: flex;
            flex-direction: column;
        }

    }

    .col3 {
        margin: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

}