$color1:#cccdce;
$color2:#96989b;
$color3:#363535;
*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-image:linear-gradient(white,lightgrey);
}
.active{
    background-color: $color2;
}
.footer{
    background-color: $color3;
    color: $color1;
    width: 100%;
    font-size: 0.75em;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    position:bottom;

}
.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    .col2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .nav{
            flex-direction: column;
            display: flex;
            width: 100%;
           
            justify-content: center;
            .nav-link{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $color3;                margin-top:1px;
                color:$color1;
                margin-bottom:1px; 
                border: none;
            }
        }
    }
    .col3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        .col30{
            display: flex;
            flex-direction: column;

            justify-content: center;
                .col300{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin: 0 auto;
                    
            }
            .space{
                height: 20px;
                width: 20px;
            }
        }
        .squares{
            flex-direction: column;
            justify-content:center;  
            height: 120px;
            width: 120px;
            background-color: red;
            border: 10px solid black;
        }
        .squares:hover{
            transform: scale(1.5);
        }
        h3{
            text-align: center;
        }
    }
    
}
@media screen and (min-width: 800px) {
  
    .container{
       width: 100%;
       flex-direction: column;
       align-items: center;
       align-self:center;
       
    .col2{
        width: 100%;
        flex-direction: row; 
        .nav{
            width: 100%;
            flex-direction: row;
            .nav-link{
                width: calc(100%/5);
            }
        }
    }
    .col3{
        margin-top:30px; 
        margin-bottom: 30px;
    .col30{
        display: flex;
        flex-direction: column;
       
    }
    }
 
   }
  }