$color1:#cccdce;
$color2:#96989b;
*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-image:linear-gradient(white,lightgrey);

}

.active{
    background-color: $color2;
}
.footer{
    background-color: $color1;
    width: 100%;
    font-size: 0.75em;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    .col2{
        display: flex;
        // flex-direction: column;
        justify-content: center;
        .nav{
            flex-direction: column;
            display: flex;
            width: 100%;
            

            // justify-content: center;
            .nav-link{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $color1;
                margin-top:1px;
                margin-bottom:1px; 
                border: none;
            }
        }
    }
    .col3{
        display: flex;
        justify-content: center;
        width: 100%;
        // flex-direction: column;
        .col10{
            display: flex;
            flex-direction: column;
            // justify-content: center;
        }
        .squares{
            flex-direction: column;
            justify-content:center;  
            height: 120px;
            width: 120px;
            background-color: red;
            border: 10px solid black;
    
        }
        h3{
            text-align: center;
        }
    }
    
}


 